# ignore all bin directories
# matches "bin" in any subfolder
bin/

# ignore all target directories
target/

# ignore all files ending with ~
*~ 

#ignore the eclipse config
.settings*
.project
.cproject
.pydevproject

#ignore the buildpath
Debug
Release
#ignore the python binary
*.pyc
*.pyo
